.main{
    background-image: url(backgroundImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#resultField{
    border: solid black 2px;
    background-color: white;
    margin-top:50px;
    margin-bottom: 0px;
    height: 600px;
    overflow: auto;
}
.srcField{
    border: solid black 2px;
    margin-left: 230px;
    margin-right: 285px;
    padding: 10px;
}
.searchButton{
    margin-top: 10px;
    margin-left: 650px;
}
#param-page{
    margin-left: 10%;
}
#param-pagesize{
    margin-left: 5%;
}
#param-fromdate{
    margin-left: 5%;
    width: 168px;
}
#param-todate{
    margin-left: 10%;
    width: 168px;
}
#param-order{
    margin-left: 1.5%;
    margin-top: 10px;
    width: 173px;
}
#param-min{
    margin-top: 10px;
    margin-left: 5.1%;
    width: 168px;
}
#param-max{
    margin-top: 10px;
    margin-left: 10%;
    width: 168px;
}
#param-sort{
    margin-top: 10px;
    margin-left: 1.5%;
    width: 173px;
}
#param-tagged{
    margin-top: 10px;
    margin-left: 5.1%;
}
#param-nottagged{
    margin-top: 10px;
    margin-left: 10%;
}
#param-intitle{
    margin-top: 10px;
    margin-left: 5%;
}
#datepickericon{
    width: 25px;
    height: 25px;
}